wp-content/themes/canvas/*
wp-content/uploads/*
wp-content/upgrade/*
*.sql
wp-admin/*
wp-includes/*
wp-blog-header.php
wp-activate.php
readme.html
wp-comments-post.php
license.txt
index.php
favicon.ico
apple-touch-icon.png
apple-touch-icon-precomposed.png
wp-config-sample.php
wp-config.php
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php


wp-cron.php

wp-content/advanced-cache.php
