button.stats {
	border: 0;
	background: rgb(123,185,143);
	margin: 10px 12px 24px 0;
	padding: 3px 7px 5px;
	color: #fff;
	transition: all .2s;
	border: 1px solid rgb(123,185,143);
	cursor: pointer;
}
button.stats:hover {
	background: #663ff2;
	border: 1px solid #663ff2;

}
button.stats.current {
	background: transparent;
	color: rgb(123,185,143);
	cursor: default;
}
button.stats.current:hover {
	border: 1px solid rgb(123,185,143);
}

.prev,
.next {
	cursor: pointer;
	color: rgb(123,185,143);
}

.fittin-chart {
	position: relative;
}

.chart-loading,
.chart-loading:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.chart-loading {
	/*display: block !important;*/
	position: absolute;
	top: 20%;
	left: 48%;
	margin: 60px auto;
	font-size: 3px;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(123, 185, 143, 0.2);
	border-right: 1.1em solid rgba(123, 185, 143, 0.2);
	border-bottom: 1.1em solid rgba(123, 185, 143, 0.2);
	border-left: 1.1em solid rgb(123,185,143);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

.stats-modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.stats-modal.visible {
	display: block;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
